{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h4>Latest posts</h4>
  <div class="divider"></div>

  <div class="container-fluid py-3">
    <div class="row g-4">
      {% for post_item in post_items %}
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100">
            <div class="card-image">
              {% if post_item.picture %}
                <a href="{{ post_item.get_absolute_url }}">
                  <img src="{{ post_item.picture.url }}" class="card-img-top" style="height: 200px; object-fit: cover;" alt="Post Image">
                </a>
              {% else %}
                <img src="{% static 'media/def.png' %}" class="card-img-top" alt="Default Image">
              {% endif %}
            </div>
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <img src="{% static 'img/logo.png' %}" alt="Logo" class="rounded-circle me-3" style="width: 48px; height: 48px;">
                <div>
                  <h5 class="mb-0">BRAC University</h5>
                  <small class="text-muted">@{{ post_item.user.username }}</small>
                </div>
                <div class="media-right">
                  <a href="{% url 'postlike' post_item.id %}"><i class='bx bxs-badge-check' >{{ post_item.likes }} Badges</i></a>
                </div>
              </div>
              <p class="card-text">
                {{ post_item.caption }}
              </p>
              <p class="text-muted mb-0">
                {% for tag in post.tags.all %}
                <a href="{{ tag.get_absolute_url }}" class="text-decoration-none">#{{ tag }}</a>
                {% endfor %}
              </p>
            </div>
            <div class="card-footer text-muted small">
              Posted on <time datetime="2016-1-1">{{ post_item.posted }}</time>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
{% endblock %}


{% block pagination %}
  <ul class="pagination center-align">
    {% if articles.has_previous %}
      <a href="?page={{ articles.previous_page_number }}" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Back</a>
    {% endif %}

{% if articles.has_next %}
<a href="?page={{ articles.next_page_number }}" class="waves-effect waves-light btn"><i class="material-icons right">add</i>Load more</a>
  </ul>
{% endif %} 

{% endblock %}



 
