{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h4>Settings</h4>
    <ul class="list-group mb-4">
        <li class="list-group-item"><a href="{% url 'setting:change_password' %}">Change Password</a></li>
        <li class="list-group-item"><a href="{% url 'setting:privacy_settings' %}">Privacy Settings</a></li>
        <li class="list-group-item"><a href="{% url 'setting:notification_settings' %}">Notification Settings</a></li>
        <li class="list-group-item"><a href="{% url 'setting:blocked_users' %}">Blocked Users</a></li>
        <li class="list-group-item"><a href="{% url 'setting:linked_accounts' %}">Linked Accounts</a></li>
        <li class="list-group-item"><a href="{% url 'setting:delete_account' %}">Delete Account</a></li>
    </ul>

    <h4>Contact Information</h4>
    <form method="post" action="{% url 'setting:update_contact_info' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
        </div>
        <div class="mb-3">
            <label for="phone_number" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ user.profile.phone_number }}">
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
{% endblock %}
